fastapi
uvicorn[standard]
motor
beanie
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib
bcrypt==3.2.2
python-multipart
groq
httpx
pytest
pytest-asyncio
python-dotenv
PyPDF2
python-docx
aiofiles
gTTS
pymongo
google-auth
requests
certifi
dnspython
